.logos {
  overflow: hidden;
  padding: 1.5rem 0;
  background: transparent;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.logos:before,
.logos:after {
  display: none;
}

.logos-slide {
  display: flex;
  width: max-content;
  animation: 50s slide infinite linear;
  will-change: transform;
}

.logos-slide img {
  height: 69px;
  flex-shrink: 0;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% / 3));
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.1s ease;
  flex-shrink: 0;
  padding: 0 40px;
}


.logo-image {
  max-height: 57.5px;
  max-width: 138px;
  width: auto;
  opacity: 0.7;
  transition: all 0.3s ease;
  display: block;
}


.logo-melecmetal {
  width: 138px;
  height: 46px;
  object-fit: contain;
  object-position: center;
  display: block;
}

.logo-philips {
  max-width: 161px !important;
}

.logo-merrell {
  max-width: 250px;
  /* antes: 170px */
  max-height: 120px;
  /* antes: 80px */
  height: auto;
}

.logo-keds {
  max-width: 160px;
  max-height: 90px;
  width: auto;
  height: 90px;
  object-fit: contain;
  object-position: center;
  display: block;
}

/* Mobile styles */
@media (max-width: 768px) {
  .logos {
    padding: 1.5rem 0;
    width: 100vw;
    margin-left: -5vw;
  }

  .logos-slide {
    animation: 30s slide infinite linear;
    padding: 0 5vw;
  }

  .logos-slide img {
    height: 46px;
  }

  .logo-container {
    padding: 0 20px;
  }

  .logo-image {
    max-height: 34.5px;
    max-width: 115px;
  }

  .logo-melecmetal {
    width: 115px;
    height: 34.5px;
  }

  .logo-philips {
    max-width: 138px !important;
  }

  .logo-merrell {
    max-width: 130px;
    max-height: 50px;
    height: 40px;
  }

  .logo-keds {
    max-width: 85px;
    max-height: 34.5px;
    height: 24px;
  }
}